.usta-card-user{
	.usta-card-img{
		/* background: red; */
		img, h4{
			display: inline-block;
		}
		img{
			border-radius: 50%;
			width: 80px;
		}
		h4{
			margin-left: 1rem;
			font-size: 1.5rem;
		}
	}
	.usta-card-fecha{
		/* background: red; */
		font-size: 0.7rem;
		margin: 0.7rem auto;
		text-align: center;
		display: table;
	}
	a{
		float: right;
	}
}
.btn-rounded{
	border: none !important;
}

.usta-perfil{
	&-description{
		margin-bottom: 2rem;
		text-align: center;
		img{
			border-radius: 50%;
			margin-bottom: 1rem;
		}
		.usta-perfil-name{
			margin-left: 1rem;
		}
	}
	&-form{
		form{
			input, select{
				margin-bottom: 1rem;
				display: block;
			}
			input[type="submit"]{
				width: 150px;
			}
			label{
				font-size: 0.9rem;
				margin: 0px;
			}
		}
	}
}
.card-color-finalizado{
	background-color: #00CD7D;
	color: #fff;
}
.card-color-enDesarrollo{
	background-color: #FEAE12;
	color: #fff;
}
.card-color-cancelado{
	background-color: #E55250;
	color: #fff;
}

.table-responsive::-webkit-scrollbar{
	height: 7px;
	width: 12px;
	background-color: #F5F5F5;
}
.table-responsive::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ddd;
}
.table-usta{
	border-top: 2px solid #F5F5F5;
	width: 100%;
	tr{
		th, td{
			font-size: 13px;
			border: 2px solid #F5F5F5;
		}
		th{
			background: rgba(#E8E8E8, 0.6);
			color: #000;
			border-radius: 3px;
			padding: 0.6rem;
			text-align: center;
			border-top: 0;
		    border-bottom-width: 1px;
		    font-family: "Poppins", sans-serif;
		    font-weight: 500;
		    

		}
		td{
			vertical-align: top;
			padding: 0.5rem 1rem;
			text-align: justify;
		}
	}
}
