.usta-card-user .usta-card-img {
  /* background: red; */ }
  .usta-card-user .usta-card-img img, .usta-card-user .usta-card-img h4 {
    display: inline-block; }
  .usta-card-user .usta-card-img img {
    border-radius: 50%;
    width: 80px; }
  .usta-card-user .usta-card-img h4 {
    margin-left: 1rem;
    font-size: 1.5rem; }

.usta-card-user .usta-card-fecha {
  /* background: red; */
  font-size: 0.7rem;
  margin: 0.7rem auto;
  text-align: center;
  display: table; }

.usta-card-user a {
  float: right; }

.btn-rounded {
  border: none !important; }

.usta-perfil-description {
  margin-bottom: 2rem;
  text-align: center; }
  .usta-perfil-description img {
    border-radius: 50%;
    margin-bottom: 1rem; }
  .usta-perfil-description .usta-perfil-name {
    margin-left: 1rem; }

.usta-perfil-form form input, .usta-perfil-form form select {
  margin-bottom: 1rem;
  display: block; }

.usta-perfil-form form input[type="submit"] {
  width: 150px; }

.usta-perfil-form form label {
  font-size: 0.9rem;
  margin: 0px; }

.card-color-finalizado {
  background-color: #00CD7D;
  color: #fff; }

.card-color-enDesarrollo {
  background-color: #FEAE12;
  color: #fff; }

.card-color-cancelado {
  background-color: #E55250;
  color: #fff; }

.table-responsive::-webkit-scrollbar {
  height: 7px;
  width: 12px;
  background-color: #F5F5F5; }

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd; }

.table-usta {
  border-top: 2px solid #F5F5F5;
  width: 100%; }
  .table-usta tr th, .table-usta tr td {
    font-size: 13px;
    border: 2px solid #F5F5F5; }
  .table-usta tr th {
    background: rgba(232, 232, 232, 0.6);
    color: #000;
    border-radius: 3px;
    padding: 0.6rem;
    text-align: center;
    border-top: 0;
    border-bottom-width: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }
  .table-usta tr td {
    vertical-align: top;
    padding: 0.5rem 1rem;
    text-align: justify; }

.pop-mensaje span {
  background-color: #E55250 !important;
  position: relative; }
  .pop-mensaje span p {
    color: #fff !important; }
  .pop-mensaje span i {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1.5rem;
    padding: 0.6rem 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    color: #fff !important; }
